:root {
	--container-width: 1200px;
	--container-padding-x: 20px;

	--font-main: 'Inter', sans-serif;
	--font-accent: 'Poppins', sans-serif;
	--font-navigation: 'Space Grotesk', sans-serif;

	--background-color: white;
	--text-color: #000;
	--text-color-accent: #ac182c;
	--text-color-alt: #6C7275;
	--text-color-opposite: #FEFEFE;
}
